<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V5</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css"/>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css"/>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css"/>
	<link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<div class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						Sign In With
					</span>

					<div class="btn-face m-b-20">
						<i class="fa fa-facebook-official"></i>
						<form action="/connect/facebook" method="POST" style="display: inline">
			          <input type="hidden" name="scope" value="public_profile,email"/>
			          <button type="submit" style="color: white;">
			              	Facebook
			          </button>
		              </form>
					</div>

					<div class="btn-google m-b-20">
						<img src="/images/icons/google.jpg" alt="GOOGLE"/>
						<form action="/connect/google" method="POST" style="display: inline">
			            <input type="hidden" name="scope" value="profile email" />
			            <button type="submit" style="color: black;">
			               	Google
			            </button>
		               </form>
					</div>
					
					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Email:
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Username is required">
						<input class="input100" type="text" name="email" id="email"/>
						<span class="focus-input100"></span>
					</div>
					
					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Password:
						</span>

						<a href="#" class="txt2 bo1 m-l-5">
							Forgot?
						</a>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" id="password"/>
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" id="login-button">
							Sign In
						</button>
					</div>

					<div class="w-full text-center p-t-55">
						<span class="txt2">
							Not a member?
						</span>

						<a href="http://localhost:3000/signup" class="txt2 bo1">
							Sign up now
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
        // ajaxGet();
  
        $("#login-button").click(function(){
   
        ajaxLoginUser();
     });
      
     function ajaxLoginUser(){ 
          var user = {
          email : $("#email").val(),
          password: $("#password").val(),    
      } 
   
      if (checkEmail()==true) {

      $.ajax({
      type : "POST",
      contentType : "application/json",
      url : "http://localhost:3000/api/users/login",
      data : JSON.stringify(user),
      dataType : 'json',
      error : function(e) {
         console.log('error: ',e );
         alert("Error! ");

      },   
      success : function(resMessage) {
        if(resMessage.status == 1) {
           alert(resMessage.message);
           var idUser =  resMessage.results.id;
           sessionStorage.setItem("sent", idUser);
           window.open("http://localhost:3000/" + idUser + "/settings", "_self",);

        }
        else{
             alert(resMessage.message);
         }
        },
          
      });
     }
     else alert("Email khong chinh xac!");

    }
  })
   
     function checkEmail() {
        var email = document.getElementById('email');
        var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if (!filter.test(email.value)) {
           
            return false;
        }
        else
        {
            return true;
        }
        }


	</script>

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->

</body>
</html>